# ignore all .txt files
# *.txt

# ignore all files in these directories
dist/
src/scviz/__pycache__/
tests/__pycache__/
docs/
CHANGELOG.md
.vscode/
dev/*.csv
dev/*.tsv
dev/scviz_planning.docx
dev/*.png
dev/*.xlsx
dev/windy*.py
dev/cellstore_analysis.ipynb